* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1em;
  font-size: 10rem;
  transform: rotate(90deg);
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.name {
  flex-direction: row;
}

label {
  margin: 0 auto;
  padding: 0.5em 0;
}

input {
  padding: 1.5em;
  height: 60px;
  font-size: 2rem;
  border-radius: 30px;
}

button {
  margin: 1em auto;
  min-width: 120px;
  width: 20%;
  height: 60px;
  font-size: 2rem;
  border-radius: 30px;
}

.btn:hover {
  background-color: #ccc;
}
input:hover {
  background-color: #ccc;
}
